<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Commode</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/lodash@4.16.0"></script>


</head>

<body class="bg-light" style="font-size: .7rem;">


  <div class="container-fluid">

    <div id="primary" class="p-3 bg-light">
      <div class="row">
        <div class="col-md-3 pb-3">

          <ul class="nav flex-column">
            <li v-for="item in computedFilters" class="nav-item" v-on:click="select(item)"><a class="nav-link text-muted" href="#"><i class="fa fa-cog text-muted"></i>&nbsp; {{ item.name }}</a></li>
            <li class="nav-item" v-on:click="deselect"><a class="nav-link text-muted" href="#"><i class="fa fa-eye text-muted"></i>&nbsp; Show All</a></li>
          </ul>

        </div>

        <div class="col-md-9">


            <div class="container-fluid pb-3 d-none d-md-block d-lg-block d-xl-block">
              <div class="row">

                <div class="col-2">
                  <i class="fa fa-list fa-5x text-muted"></i>
                </div>

                <div class="col-10">

                  <div class="h2">{{title}}</div>
                  <div class="text-muted pl-2 d-inline-block">{{computedDatabase.length}} Item{{computedDatabase.length==1?'':'s'}}</div>
                </div>

              </div>
            </div>


          <!-- -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">


                  <ul class="list-group">
                    <li v-for="item in computedDatabase" class="list-group-item " v-on:click="select(item)"><i class="fa fa-foo text-muted"></i>&nbsp; {{ item.name }}</li>
                  </ul>


              </div>
            </div>
          </div>
          <!-- -->

        </div>
      </div>
    </div>

  </div>

</body>

<script>
  // You can also require other files to run in this process
  require('./renderer.js')
</script>

</html>
